* {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

header {
  font-family: 'Bree Serif', serif;
  background-color: #A60311; }

p {
  font-size: 1.6rem;
  letter-spacing: normal;
  line-height: 1.5;
  color: #A60311; }

h1 {
  margin-left: 10px; }

body {
  font-family: 'Bree Serif', serif;
  font-family: 'Source Serif Pro', serif;
  background-color: #400409;
  font-size: 2rem; }

.titulos {
  font-size: 3rem;
  font-style: italic;
  background-color: #A60311;
  border: 3px solid black;
  margin: 30px 30px 15px 0px; }

.texto {
  font-weight: bolder;
  color: #F2BB9B; }

.headers {
  border: solid 1px black;
  display: grid;
  grid-template-areas: "titulo     .         navbars" "redes      musica    buscar";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.3fr); }
  .headers__titulo {
    display: flex;
    grid-area: titulo;
    flex-direction: column; }
    .headers__titulo-pr {
      font-size: 7rem;
      font-style: italic;
      line-height: 0.8;
      color: beige; }
    .headers__titulo-sec {
      font-size: 2rem;
      line-height: 0.5;
      margin-left: 10px; }
  .headers__redes {
    display: flex;
    grid-area: redes;
    align-items: flex-end; }
    .headers__redes img {
      margin: 10px 10px; }
  .headers__musica {
    display: flex;
    grid-area: musica;
    justify-content: center;
    margin: 10px; }
  .headers__navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: navbars; }
    .headers__navbar ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .headers__navbar ul li {
        margin: 10px;
        border-bottom: ridge beige 2px; }
        .headers__navbar ul li a {
          font-size: 2rem;
          color: black; }
        .headers__navbar ul li :hover {
          color: beige; }
  .headers__buscar {
    display: flex;
    grid-area: buscar;
    align-items: center;
    justify-content: center; }
  .headers__titulo {
    display: flex;
    grid-area: titulo;
    flex-direction: column; }

.grid__presentacion {
  display: grid;
  grid-template-areas: "texto  . fulano  mengano  zutano";
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  margin: 20px; }
  .grid__presentacion-fulano {
    grid-area: fulano;
    border-bottom: beige 2px solid;
    transition: 0.5s; }
    .grid__presentacion-fulano img {
      border-radius: 10px; }
    .grid__presentacion-fulano:hover {
      transform: translateY(-10px); }
    .grid__presentacion-fulano .flex-presentacion {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.5s;
      color: #F2BB9B; }
  .grid__presentacion-mengano {
    grid-area: mengano;
    border-bottom: beige 2px solid;
    transition: 0.5s; }
    .grid__presentacion-mengano:hover {
      transform: translateY(-10px); }
    .grid__presentacion-mengano img {
      border-radius: 10px; }
    .grid__presentacion-mengano .flex-presentacion {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.5s;
      color: #F2BB9B; }
  .grid__presentacion-zutano {
    grid-area: zutano;
    border-bottom: beige 2px solid;
    transition: 0.5s; }
    .grid__presentacion-zutano:hover {
      transform: translateY(-10px); }
    .grid__presentacion-zutano img {
      border-radius: 10px; }
    .grid__presentacion-zutano .flex-presentacion {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.5s;
      color: #F2BB9B; }

.flex__img {
  display: flex;
  justify-content: center;
  width: 100%; }
  .flex__img img {
    border-radius: 20px; }

.card {
  background-color: #F2BB9B;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 10px 50px -12px white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: transform 0.3s; }
  .card__header {
    position: relative; }
    .card__header small {
      background-color: rgba(255, 255, 255, 0.5);
      color: #fff;
      padding: 5px;
      position: absolute;
      border-bottom-left-radius: 8px;
      right: 0px; }
    .card__header img {
      width: 100%;
      border-radius: 25px;
      margin-bottom: 20px; }
  .card__title {
    margin-bottom: 10px; }
  .card__description {
    margin-bottom: 30px;
    color: #400409; }
  .card__link {
    font-weight: bold;
    color: black;
    background-color: #A60311;
    padding: 15px;
    border-radius: 30px;
    text-align: center; }
    .card__link:hover {
      color: beige; }
  .card:hover {
    transform: translateY(-10px) translateX(-5px); }

.eventos__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 20px; }

.contacto {
  display: flex;
  justify-content: center; }
  .contacto__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .contacto__contenedor {
    margin: 50px 50px 50px 10px;
    padding: 20px;
    display: flex;
    flex-direction: column; }
    .contacto__contenedor li {
      display: flex;
      align-items: center;
      font-weight: bolder;
      color: beige; }
    .contacto__contenedor-img {
      height: 65px;
      width: 65px;
      margin: 25px 50px 25px  0px; }

.form {
  display: flex;
  justify-content: center; }
  .form__container {
    margin: 50px;
    margin-left: 10px;
    padding: 10px; }
    .form__container h4 {
      margin-bottom: 10px;
      border-bottom: solid beige;
      color: beige; }

.formulario {
  display: flex;
  flex-direction: column;
  color: beige; }

.iconos__contacto {
  width: 10rem;
  height: 10rem; }

.acerca {
  background-image: url(./Multimedia/musica-img/orobanner.jpg);
  background-repeat: repeat;
  background-size: contain;
  font-weight: bold;
  color: beige; }

.nosotros {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .nosotros__contenedor {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .nosotros__contenedor h4 {
      border-bottom: solid 2px beige;
      color: beige;
      display: flex;
      justify-content: center;
      margin-bottom: 10px; }
    .nosotros__contenedor p {
      margin: 10px;
      color: #F2BB9B; }
    .nosotros__contenedor img {
      display: flex;
      justify-content: center;
      border-radius: 10px; }

.somos {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .somos h3 {
    margin-bottom: 10px;
    color: beige;
    border-bottom: solid 2px beige; }
  .somos p {
    color: #F2BB9B; }

.footers {
  background-color: #A60311;
  border-top: solid black 2px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .footers__links a {
    color: black;
    margin: 5px;
    border-bottom: solid 2px black; }
