// INDEX //

@mixin grid__presentacion-flex{
    display: flex;
                flex-direction: column;
                align-items: center;
                transition: transform 0.5s;
                color: $bgred;
}


.grid__presentacion{
    display: grid;
    grid-template-areas:
        "texto  . fulano  mengano  zutano";
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 10px;
        margin: 20px;

        &-fulano {
            grid-area: fulano;
            border-bottom: $bglight 2px solid;
            color: $bgred;
            transition: 0.5s;

            &:hover{
                transform: translateY(-10px);
            }


            .flex-presentacion{
                @include grid__presentacion-flex
            }

        }

        &-mengano{
            grid-area: mengano;
            border-bottom: $bglight 2px solid;
            color: $bgred;
            transition: 0.5s;

            &:hover{
                transform: translateY(-10px);
            }

            .flex-presentacion{
                @include grid__presentacion-flex
            }

        }

        &-zutano{
            grid-area: zutano;
            border-bottom: $bglight 2px solid;
            color: $bgred;
            transition: 0.5s;

            &:hover{
                transform: translateY(-10px);
            }

            .flex-presentacion{
                @include grid__presentacion-flex
            }

        }

}

.flex__img{
    display: flex;
    justify-content: center;
    width: 100%;

    img {
        border-radius: 20px;

    }
}

// EVENTOS //

.card{
    background-color: $bglight2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 50px -12px white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: transform 0.3s;

    
    &__header{
        position: relative;
        
        small{
            background-color: rgba(255, 255, 255, 0.5);
            color: #fff;
            padding: 5px;
            position: absolute;
            border-bottom-left-radius: 8px;
            right: 0px;
        }
        
        img{
            width: 100%;
            border-radius: 25px;
            margin-bottom: 20px;
        }
    }
    
    &__title{
        margin-bottom: 10px;
    }
    
    &__description{
        margin-bottom: 30px;
        color: $bgred2;
    }
    
    &__link{
        font-weight: bold;
        color: $bgdark;
        background-color: $bgred;
        padding: 15px;
        border-radius: 30px;
        text-align: center;
        
        &:hover{
            color: $bglight
        }
    }
    
    
    &:hover{
        transform: translateY(-10px) translateX(-5px);
    }
}


.eventos__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin: 20px;
}






